<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team5.myapp.attendance.dao.IAttendanceRepository">
	<!-- 출근 -->
	<insert id="insertWorktime" parameterType="com.team5.myapp.attendance.model.Attendance">
		<![CDATA[
			INSERT INTO ATTENDANCE (ATTENDANCE_ID, ATTENDANCE_DATE, CLOCK_IN, CLOCK_OUT, STATUS, USER_ID)
			VALUES(seq_attendance_id.nextval,sysdate,systimestamp,null,5,#{userId})
		]]>
	</insert>
	<!-- 퇴근 -->
	<update id="updateWorktime" parameterType="com.team5.myapp.attendance.model.Attendance">
		<![CDATA[
			UPDATE ATTENDANCE SET
    		CLOCK_OUT = systimestamp
			WHERE ATTENDANCE_DATE BETWEEN to_date(to_char(sysdate,'YYYY-MM-DD'), 'YYYY-MM-DD') AND TO_DATE(to_char(sysdate,'YYYY-MM-DD'), 'YYYY-MM-DD') + 1
			AND USER_ID = #{userId}
			AND ROWNUM = 1
		]]>
	</update>
	<!-- attendance 가져오기 -->
	<select id="selectAttendance" parameterType="String" resultType="com.team5.myapp.attendance.model.Attendance" >
		<![CDATA[
			SELECT *
			FROM(
			    SELECT 
			        min(a.ATTENDANCE_DATE) AS "attendanceDate",
			        m.USER_ID AS "userId", 
			        a.attendance_id AS "attendanceId", 
			        a.status AS "status", 
			        a.clock_in AS "clockIn", 
			        a.clock_out AS "clockOut"
			    FROM attendance a, members m
			    WHERE a.attendance_date BETWEEN to_date(to_char(sysdate,'YYYY-MM-DD'), 'YYYY-MM-DD') AND TO_DATE(to_char(sysdate,'YYYY-MM-DD'), 'YYYY-MM-DD') + 1
			        and a.user_id = m.user_id
			        and a.user_id=#{userId}
			    GROUP by a.user_id , m.user_id, a.attendance_id, a.status, a.clock_in, a.clock_out
			    order by a.attendance_id asc
			)
			WHERE ROWNUM = 1
		]]>
	</select>

	<!-- STATUS 변경 -->
	<update id="updateAttendanceStatus" parameterType="com.team5.myapp.attendance.model.Attendance">
		<![CDATA[
			UPDATE ATTENDANCE SET
			    STATUS = #{status}
			WHERE ATTENDANCE_DATE BETWEEN to_date(to_char(sysdate,'YYYY-MM-DD'), 'YYYY-MM-DD') AND TO_DATE(to_char(sysdate,'YYYY-MM-DD'), 'YYYY-MM-DD') + 1 
			AND USER_ID = #{userId}
		]]>
	</update>

	<!-- 출결 현황 목록 -->
	<select id="selectTotalAttendancePage" parameterType="String" resultType="int">
		<![CDATA[
			SELECT COUNT(USER_ID) AS "count"
			FROM ATTENDANCE
			WHERE USER_ID = #{userId}
		]]>
	</select>
	
	<select id="selectAttendanceList" parameterType="map" resultType="com.team5.myapp.attendance.model.Attendance">
		<![CDATA[
			SELECT
				ATTENDANCE_DATE AS "attendanceDate",
				CLOCK_IN AS "clockIn",
				CLOCK_OUT AS "clockOut",
				STATUS AS "status",
				RNUM+1 AS "seq"
			FROM (
				SELECT
					ATTENDANCE_DATE,
					CLOCK_IN,
					CLOCK_OUT,
					STATUS,
					ROWNUM AS RNUM
				FROM (
					SELECT 
						ATTENDANCE_DATE,
						CLOCK_IN,
						CLOCK_OUT,
						STATUS
					FROM ATTENDANCE
					WHERE USER_ID = #{userId}
					ORDER BY ATTENDANCE_DATE DESC
				)
			)
			WHERE RNUM BETWEEN #{start} AND #{end}
		]]>
	</select>
	
	<!-- 출근 횟수 -->
	<select id="selectAttendanceCount" parameterType="String" resultType="int">
		<![CDATA[
			SELECT COUNT(USER_ID) AS "count"
			FROM ATTENDANCE
			WHERE USER_ID = #{userId} AND status = 0
		]]>
	</select>
	
	<!-- 지각 -->
	<select id="selectLateCount" parameterType="String" resultType="int">
		<![CDATA[
			SELECT COUNT(USER_ID) AS "count"
			FROM ATTENDANCE
			WHERE USER_ID = #{userId} AND status = 2
		]]>
	</select>
	
	<!-- 결근 -->
	<select id="selectAbsenceCount" parameterType="String" resultType="int">
		<![CDATA[
			SELECT COUNT(USER_ID) AS "count"
			FROM ATTENDANCE
			WHERE USER_ID = #{userId} AND status = 1
		]]>
	</select>


</mapper>