<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team5.myapp.board.dao.BoardCategoryMapper">
	
	<select id="selectAllCategory" resultType="com.team5.myapp.board.model.BoardCategory">
		<![CDATA[
			SELECT
				CATEGORY_ID AS categoryId,
				CATEGORY_NAME AS categoryName,
			FROM BOARD_CATEGORY
		]]>
	</select>
	
	<insert id="insertNewCategory" parameterType="com.team5.myapp.board.model.BoardCategory">
		<![CDATA[
			INSERT INTO BOARD_CATEGORY
				(CATEGORY_ID, CATEGORY_NAME)
			VALUES
				(SEQ_BOARD_CATEGORY_ID.NEXTVAL, #{categoryName})
		]]>
	</insert>

</mapper>