<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.team5.myapp.lecture.dao.ILectureRepository">

	<select id="selectTotalLecturePage" resultType="int">
		<![CDATA[
			select 
				count(lecture_id) as "count"
			from lecture
		]]>
	</select>

	<select id="selectLectureList" parameterType="map" resultType="com.team5.myapp.lecture.model.Lecture">
		<![CDATA[
			select 
				lecture_id as "lectureId",
				lecture_name as "lectureName"
			from (
				select 
					rownum as rnum,
					lecture_id ,
					lecture_name 	
				from (
					select
						lecture_id,
						lecture_name
					from lecture
					order by lecture_name
				)
				where rownum <=#{end}
			)
			where rnum >= #{start} 
		]]>
	</select>
</mapper>