<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team5.myapp.member.dao.IMemberRepository">

<select id="selectMember" resultType="com.team5.myapp.member.model.Member">
		<![CDATA[
			SELECT user_id as "userId", 
				   user_name as "userName", 
				   password as "password", 
				   phone as "phone", 
				   email as "email",
				   lecture_id as "lectureId",
				   role as "role"
			FROM members
			WHERE user_id=#{userId}
		]]>
	</select>
	
	<select id="getPassword" parameterType="string" resultType="string">
		<![CDATA[
			SELECT password
			FROM members
			WHERE user_id=#{userId}
		]]>
	</select>
	
	<select id="selectMemberRole" resultType="int">
		<![CDATA[
			SELECT role
			FROM members
			WHERE user_id=#{userId}
		]]>
	</select>

	<select id="selectMemberCount" parameterType="int" resultType="int">
		<![CDATA[
			SELECT COUNT(user_id) as "count" 
			FROM MEMBERS 
			WHERE lecture_id=#{lectureId}
		]]>
	</select>
	
	<select id="selectMemberList" parameterType="map" resultType="com.team5.myapp.member.model.Member">
		<![CDATA[
			select
			    rnum,
			    status as "todayStatus", 
			    user_name as "userName",
			    lecture_name as "lectureName"
			from
			(
			    select
			        rownum as rnum,
			        status, 
			        user_name,
			        lecture_name
			    from
			    (
			        select 
			            a.status, 
			            m.user_name,
			            l.lecture_name,
			            a.attendance_date
			        from
			            attendance a,
			            members m,
			            lecture l
			        where 
			            a.user_id(+)=m.user_id and
			            m.lecture_id=l.lecture_id and
			            (
				            to_char(a.attendance_date,'YY/MM/DD') ='23/01/07' or
				            a.attendance_date is null
			            )
			        order by lecture_name , user_name
			    )
			    where
			        rownum<=#{end}
			)
			where 
			    rnum>=#{start}
		]]>
	</select>

</mapper>